<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lintex9527.runoob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 所有的测试项列在这个页面 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 测试自动补全控件 AutoCompleteTextView，它是 EditText 的子类 -->
        <activity
            android:name=".TestTextViewActivity"
            android:label="@string/textview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestTextViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestEditTextActivity"
            android:label="@string/edittext_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestEditTextActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestButtonActivity"
            android:label="@string/button_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestImageViewActivity"
            android:label="@string/imageview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestImageViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestRadioButtonActivity"
            android:label="@string/radiobuton_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestRadioButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestToggleButtonActivity"
            android:label="@string/togglebutton_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestToggleButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestProgressBarActivity"
            android:label="@string/progressbar_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestProgressBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestSeekBarActivity"
            android:label="@string/seekbar_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestSeekBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestRatingBarActivity"
            android:label="@string/ratingbar_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestRatingBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestScrollViewActivity"
            android:label="@string/scrollview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestScrollViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestTextClockActivity"
            android:label="@string/datetime_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestTextClockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestDateTimeActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestDateTimeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestTimePickerActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestTimePickerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestArrayAdapterActivity"
            android:label="@string/arrayadapter_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestArrayAdapterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestSimpleAdapterActivity"
            android:label="@string/simpleadapter_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestSimpleAdapterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestBaseAdapterActivity"
            android:label="@string/baseadapter_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestBaseAdapterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestListViewUpdateActivity"
            android:label="@string/listviewupdate_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestListViewUpdateActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestCustomAdapterActivity"
            android:label="@string/customadapter_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestCustomAdapterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestMultiLayoutAdapterActivity"
            android:label="@string/multilayoutadapter_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestMultiLayoutAdapterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestGridViewActivity"
            android:label="@string/gridview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestGridViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestSpinnerActivity"
            android:label="@string/spinner_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestSpinnerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestAutoCompleteTextViewActivity"
            android:label="@string/autocompletetextview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestAutoCompleteTextViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestExpandableListViewActivity"
            android:label="@string/expandablelistview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestExpandableListViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestViewFlipperActivity"
            android:label="@string/viewflipper_static_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestViewFlipperActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestViewFlipper2Activity"
            android:label="@string/viewflipper_dynamic_attr"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestViewFlipper2Activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
    </application>

</manifest>