<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lintex9527.runoob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 所有的测试项列在这个页面 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 测试自动补全控件 AutoCompleteTextView，它是 EditText 的子类 -->
        <activity
            android:name=".TestTextViewActivity"
            android:label="@string/textview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestTextViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestEditTextActivity"
            android:label="@string/edittext_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestEditTextActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestButtonActivity"
            android:label="@string/button_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestImageViewActivity"
            android:label="@string/imageview_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestImageViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestRadioButtonActivity"
            android:label="@string/radiobuton_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestRadioButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestToggleButtonActivity"
            android:label="@string/togglebutton_attr"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestToggleButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".TestProgressBarActivity"
            android:label="@string/progressbar_attr"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="com.lintex9527.runoob.TestProgressBarActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>


    </application>

</manifest>